@font-face {
  font-family: "Renogare";
  src: local("Renogare"), url("../public/Renogare-Regular.otf") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Renogare, "Helvetica", sans-serif;
}

.commonPage {
  text-align: center;
  font-size: 2rem;

  background-color: #89cff0;
  min-height: 100vh;
}

.levelBox {
  width: 500px;
  height: 400px;
  background-color: #89bef0;

  border: 3px solid black;
  border-radius: 5px;
  margin: 20px;
  padding: 0px;
}

.levelBox:hover {
  background-color: #89a8f0;
  text-decoration: underline;
}

.book {
  align-items: center;
  display: flex;
  justify-content: center;

  margin-top: 10px;
  transform: rotate(-1deg);
}

.coverPage {
  background-image: url(../public/journal-cover.jpg);

  /*
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  */
}

.backPage {
  background-image: url(../public/journal-back.jpg);

  /*
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  */
}

.bookPage {
  background-image: url(../public/page.jpg);
  border: 1px solid rgb(198, 194, 194);

  box-sizing: border-box;
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
  /*
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  */
}
