@font-face {
  font-family: "Renogare";
  src: local("Renogare"), url("../public/Renogare-Regular.otf") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.home {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 2rem;

  color: "black";
  font-family: Renogare, "Helvetica", sans-serif;
}

.headline {
  text-align: center;
  font-size: 2rem;
  /*
  background-image: url(../public/background.png);
  */

  background-color:#32C8E6;
  height: 91vh;
  width: 100vw;

  color: "";
  font-family: Renogare, "Helvetica", sans-serif;
}
