@font-face {
  font-family: "Renogare";
  src: local("Renogare"), url("../public/Renogare-Regular.otf") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: Renogare, "Helvetica", sans-serif;
}

.commonPage {
  display: flex;
  font-size: 2rem;

  background-color: #89cff0;
  height: 91vh;
  width: 100vw;
}

.faq {
  text-align: center;
  font-size: 2rem;

  background-color: #89cff0;
  height: 91vh;
  width: 100vw;
}

.faqBook {
  align-items: center;
  display: flex;
  justify-content: center;

  margin-top: 10px;
  transform: rotate(-1deg);
}

.bookPage {
  background-image: url(https://images.unsplash.com/photo-1603513492128-ba7bc9b3e143?ixid=MXwxMjA3fDB8MHxzZWFyY2h8MXx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80);
  border: 1px solid rgb(198, 194, 194);
  /* border-radius: 0.5rem; */
  box-sizing: border-box;
  box-shadow: 0 1.5em 3em -1em rgb(70, 69, 69);
}
